@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenidos</h1>

<h2>Grupo 8</h2>

Este Chatbot usa la API de OpenAI para abrir un canal de comunicacion directo con ChatGPT v3.5
<br />
<br />

<img src="/img/chatbot.webp" alt="Descripción de la imagen" style="width: 80%; height: 80%;" />
